body { border-top: 10px solid #f90; font-size: 16px; line-height: 1.6; }
a { color:#26c; }
a:hover { color:#f36; }
img { border-radius: 50%; display: inline; float: left; margin: 25px; }
.container { padding: 25px 0; }
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}
