* { margin: 0; padding: 0; }
body {
    background: #222;
    color: #444;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 54px;
    text-align: center;
}
#wrapper { background: #fff; margin: 0 auto; text-align: left; padding: 36px 0; width: 516px; }
h1 { font-size: 24px; font-weight: normal; line-height: 36px; margin: 0 36px; }
p { font-size: 12px; line-height: 18px; margin: 18px 36px 0 36px; }
p a, li a { color: #54f; font-weight: bold; text-decoration: none; }
p a:hover, li a:hover, h2 a:hover { color: #222; }
#photo { float: right; margin: 0 36px 18px 18px; }
#twitter { margin: 18px 36px 0 36px; }