<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ page.title }}{% if page.url != '/index.html' %} &bull; {{ site.title }}{% endif %}</title>
    <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles">
    <link rel="openid2.local_id" href="http://www.google.com/profiles/minarets">
    <link rel="stylesheet" type="text/css" href="/media/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/media/css/custom.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/media/css/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/media/css/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans" rel="stylesheet" type="text/css">
    </head>
<body>
    <div class="container"><div class="span-14 prepend-5 main">
        {{ content }}
    <hr>
    <p class="small">&copy; {{ site.time|date:"%Y" }} &bull; <a href="/atom.xml">feed</a></p>
    </div></div>
</body>
</html>
